build/
build-*/
.cache/
.clangd/
.qt/
.vscode/
.venv/
compile_commands.json
CMakeUserPresets.json

*.user
*.autosave
.DS_Store
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.so
*.a
*.o
*.moc
aqtinstall.log

.claude/*
CLAUDE.md
.devcontainer